


# Ignore node_modules 
node_modules

# Ignore build and test config files
tsconfig.json
vitest.config.ts
jest.config.js
.gitignore

# Ignore test files
__tests__/
test/
tests/

# Ignore local environment files
.env
.env.*

# Ignore documentation and other unnecessary files
CHANGELOG.md
*.log

# Ignore build scripts and related files
scripts/
example/


# Ignore TypeScript source files
src/**/*.ts

# Ignore IDE/editor config files
.vscode/
.idea/
.DS_Store

# Ignore output logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore
bun.lockb
package.lock.json
yarn.lock

